body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: '960px';
    font-size: '18px';
    background-color: gray;
}

header{
    text-align: center;
    font-size: 25px;
    background-color: gainsboro;
    padding: 20px 0px;

}
#container{
    margin: 0% 20%;
}
#nav{
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
    background-color: gainsboro;
    margin-top: 15px;
}
#section{
    float: left;
    text-align: center;
    height: 300px;
    background-color: gainsboro;
    margin: 15px 0px;
    margin-right: 5%;
    padding: 15px 0px;
    width: 55%;
}
#article{
    color: white;
    display: block;
    background-color: grey;
    padding: 15px 0px;
    margin: 2% 5% 5% 5%;
}
#div1{
    margin: 0% 5% 5% 5%;
    padding-top: 5px;
}
#div2{
    margin: 0 5%;
}
#aside{
    float: left;
    text-align: center;
    height: 300px;
    background-color: gainsboro;
    width: 40%;
    margin: 15px 0px;
    padding: 15px 0px;

}

#footer{
    clear: left;
    text-align: center;
    height: 100px;
    background-color: gainsboro;
}
